*{
	box-sizing: border-box;
}

html,body,#content{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body{
	background: #222221;
	overflow: hidden;
}

h2{
	color: #ccc;
	font-family: Verdana;
	font-weight: normal;
	margin: 10px;
	padding: 0;
	position: absolute;
	top:0;
	left: 0;
}

.graph{
	width: 100%;
	height: 50%;
	position: relative;
	border-bottom: rgba(0,0,0,0.15) solid 1px;
}

#p_graph #pitch-markers{
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	height: 50%;
}

#d_graph #duration-markers{
	position: absolute;
	top: 25%;
	left: 0;
	width: 100%;
	height: 50%;
}

.pitch-marker{
	width: 100%;
	opacity: 0.1;
	margin-bottom: 1px;
	background: #FFF;
}

.pitch-marker.highlight-harmony{
	background: #0ff;
	opacity: 0.2;
}
.pitch-marker.highlight-melody{
	background: #0ff;
	opacity: 0.5;
}
.duration-marker{
	width: 100%;
	opacity: 0.1;
	margin-bottom: 1px;
	background: #FFF;
}
.duration-marker.highlight{
	background: #f0f;
	opacity: 0.5;
}

.modal{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	background: rgba(0,0,0,0.8);
}
.modal h2{
	width: 150px;
	height: 45px;
	position: absolute;
	z-index: 10000;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -75px;
	text-align: center;
	position: relative;
}

#click-to-start{
	display: none;
}

#main-menu{
	position: absolute;
	right: -160px;
	top: 0;
	padding: 10px;
	background: rgba(0,0,0,0.8);
	width: 160px;
	height: 100%;
	text-align: center;
}
#main-menu button{
	width: 100%;
	height: 20px;
	margin: 0 0 3px 0;
	height: 30px;
	background: #444;
	border: none;
	color: #CCC;
	-webkit-transition: all 0.25s;
	cursor: pointer;
}

#main-menu button:hover{
	background: #888;
}

#main-menu h2{
	position: relative;
	width: 100%;
	height: 20px;
	font-size: 15px;
	margin: 10px 0;
}

#main-menu #open-btn,#main-menu #close-btn {
	background: #000;
	color: #FFF;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: -40px;
	cursor: pointer;
	font-size: 20px;
	padding: 10px;
	-webkit-transition: all 0.25s;
}
#main-menu #open-btn:hover,#main-menu #close-btn:hover{
	background: #888;
}

#main-menu #close-btn{
	display:none;
}

#demo-controls{
	display: none;
}